@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body
{
	background-color:#080808;
	background-image: url('images/fb.png');
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;

}

h1
{
	background:white;
	padding:15px;
}

h3
{
	color: white;
	text-align:center;
	font-family: Asap, sans-serif;
	padding:10px;
}

h2
{
	color: white;
	font-family: Asap, sans-serif;
	padding:5px;
	margin-left: 10px;
	
}